# General tasks and directions

- Add your name, today's date, and the assignment title to the designated cell.
- Write your answers in the cells that contain `Add your answer here.` line.
- Write your code in the cells that contain `# Add your implementation here.` line.
- Use autograder tests that are provided for your convenience.
- Don't change or delete any provided code (including [cell magic](https://ipython.readthedocs.io/en/stable/interactive/magics.html) such as `%%capture output`).

## Add your name, today's date, and the assignment title

author: Uddam Chea

date: 03/02/2023

assignment: project2

# Project 2

*Using `pandas` to work with data in various formats*.

This assignment is individual and you agree to submit your own work.

The type of the output produced by your solution is not specified and you must infer it from the provided test.
It could be an `int`, a `string`, a `Series`, or a `DataFrame` but never the output of a `print` function.

In [1]:
%config Completer.use_jedi = False

import json
import numpy as np
import pandas as pd
import requests
import sqlalchemy as sqla
import sqlite3

from pandas import DataFrame
from pprint import pprint

np.set_printoptions(precision=2, suppress=True, linewidth=120)

total_points = 0
task_points = 4

## Task 1

Working with Excel files.

Read the data from the provided file and answer the specific questions about the world.

### Reading xlsx

Read the geographical data of the world countries from sheet *geo* of the file *world.xlsx* into a `DataFrame` `df_world_geo`.
Convert values in the columns *Total (km2)*, *Land (km2)*, and *Water (km2)* to numeric.

Read the regions of the world countries from sheet *regions* of the file *world.xlsx* into a `DataFrame` `df_world_regions`.

In [2]:
# Add your implementation here.
df_world_geo = pd.read_excel("world.xlsx", sheet_name="geo")
df_world_regions = pd.read_excel("world.xlsx", sheet_name="regions")

col_to_change_dtype = ["Total (km2)", "Land (km2)", "Water (km2)"]

for i in col_to_change_dtype:
    df_world_geo[i] = pd.to_numeric(df_world_geo[i].str.replace(",", ""), errors = "coerce")

In [3]:
assert df_world_geo.shape == (261, 4)
assert df_world_regions.shape == (247, 3)
total_points += task_points

In [4]:
df_world_geo.head()

                 Country  Total (km2)  Land (km2)  Water (km2)
0               Abkhazia         8660         NaN          NaN
1            Afghanistan       652864    652864.0          0.0
2  Akrotiri and Dhekelia          254         NaN          NaN
3                  Åland         1580         NaN          NaN
4                Albania        28748     27398.0       1350.0

### What country has the largest water area?

This question is based on the geographical data.

In [5]:
# Add your implementation here.
df_world_geo.loc[df_world_geo["Water (km2)"].idxmax()].Country

'Canada'

In [6]:
assert _ == "Canada"
total_points += task_points

### What is the smallest country that has more water than land?

This question is based on the geographical data.

In [7]:
# Add your implementation here.
df_world_geo.loc[df_world_geo[df_world_geo["Land (km2)"] < df_world_geo["Water (km2)"]]["Total (km2)"].idxmin()]

Country        Clipperton Island
Total (km2)                    6
Land (km2)                   2.0
Water (km2)                  4.0
Name: 53, dtype: object

In [8]:
assert _.Country == "Clipperton Island"
total_points += task_points

### What country in the *Caribbean* region has the longest name?

This question is based on the regions data.

In [9]:
# Add your implementation here.
df_world_regions.loc[df_world_regions[df_world_regions["Region"] == "Caribbean"].Country.str.len().idxmax()]

Country      Saint Vincent and the Grenadines
Region                              Caribbean
Continent                       North America
Name: 190, dtype: object

In [10]:
assert _.Country == "Saint Vincent and the Grenadines"
total_points += task_points

### What continent has the most countries?

This question is based on the regions data.

In [11]:
# Add your implementation here.
df_world_regions.groupby('Continent')['Country'].nunique().idxmax()

'Africa'

In [12]:
assert _ == "Africa"
total_points += task_points

## Task 2

Working with a database.

Read the data from the provided file and answer the specific questions about the world.

### Reading from a database

Read the codes of the world countries from the table *codes* of the database *world.sqlite* into a `DataFrame` `df_world_codes`.

Read the government data from the table *gov* of the database *world.sqlite* into a `DataFrame` `df_world_gov`.

In [13]:
# Add your implementation here.
conn = sqlite3.connect('world.sqlite3')
df_world_codes = pd.read_sql('SELECT * FROM codes;', conn)
df_world_gov = pd.read_sql('SELECT * FROM gov;', conn)
conn.close()

In [14]:
assert df_world_codes.shape == (249, 7)
assert df_world_gov.shape == (195, 4)
total_points += task_points

### How many UN member states have the same short and official names?

This question is based on the codes data.

In [15]:
df_world_codes.columns

Index(['Country', 'Official state name', 'Sovereignty', 'Alpha-2 code',
       'Alpha-3 code', 'Numeric code', 'Internet ccTLD'],
      dtype='object')

In [16]:
df_world_codes.head(3)

,Country,Official state name,Sovereignty,Alpha-2 code,Alpha-3 code,Numeric code,Internet ccTLD
0,Afghanistan,The Islamic Republic of Afghanistan,UN member state,AF,AFG,4,.af
1,Åland Islands,Åland,Finland,AX,ALA,248,.ax
2,Albania,The Republic of Albania,UN member state,AL,ALB,8,.al

In [17]:
# Add your implementation here.
len(df_world_codes[(df_world_codes["Sovereignty"] == "UN member state") & (df_world_codes['Official state name'] == df_world_codes["Country"])])

24

In [18]:
assert _ == 24
total_points += task_points

### What countries have Internet top-level domain that is a double-letter?

This question is based on the codes data.

In [19]:
# Add your implementation here.
df_world_codes.head(3)

,Country,Official state name,Sovereignty,Alpha-2 code,Alpha-3 code,Numeric code,Internet ccTLD
0,Afghanistan,The Islamic Republic of Afghanistan,UN member state,AF,AFG,4,.af
1,Åland Islands,Åland,Finland,AX,ALA,248,.ax
2,Albania,The Republic of Albania,UN member state,AL,ALB,8,.al

In [20]:
df_world_codes[df_world_codes["Internet ccTLD"].fillna('').str.match(r'\.\w*(\w)\1')]

,Country,Official state name,Sovereignty,Alpha-2 code,Alpha-3 code,Numeric code,Internet ccTLD
19,Barbados,Barbados,UN member state,BB,BRB,52,.bb
47,Cocos (Keeling) Islands,The Territory of Cocos (Keeling) Islands,Australia,CC,CCK,166,.cc
69,Estonia,The Republic of Estonia,UN member state,EE,EST,233,.ee
92,Guernsey,The Bailiwick of Guernsey,British Crown,GG,GGY,831,.gg
153,Myanmar,The Republic of the Union of Myanmar,UN member state,MM,MMR,104,.mm
208,South Sudan,The Republic of South Sudan,UN member state,SS,SSD,728,.ss
225,Trinidad and Tobago,The Republic of Trinidad and Tobago,UN member state,TT,TTO,780,.tt

In [21]:
assert list(_.Country) == ["Barbados",
                           "Cocos (Keeling) Islands",
                           "Estonia",
                           "Guernsey",
                           "Myanmar",
                           "South Sudan",
                           "Trinidad and Tobago"]
total_points += task_points

### How many monarchies are there in the world?

This question is based on the government data.

In [22]:
# Add your implementation here.
df_world_gov[df_world_gov["Constitutional form"].str.contains("monarchy", case=False)].shape[0]

43

In [23]:
assert _ == 43
total_points += task_points

### Capitals of what countries contain three or more words?

This question is based on the government data.

In [24]:
# Add your implementation here.
df_world_gov[df_world_gov["Capital"].str.count(" ") >= 2]

,Country,Constitutional form,Head of state,Capital
3,Andorra,Constitutional monarchy,Xavier Espot Zamora,Andorra la Vella
24,Brunei,Absolute monarchy,Sultan and Hassanal Bolkiah,Bandar Seri Begawan
165,Sri Lanka,Republic,Gotabaya Rajapaksa,Sri Jayawardenapura Kotte
176,Trinidad and Tobago,Republic,Keith Rowley,Port of Spain

In [25]:
assert list(_.Country) == ["Andorra", "Brunei", "Sri Lanka", "Trinidad and Tobago"]
total_points += task_points

## Task 3

Working with HTML.

Read the data from the provided file and answer the specific questions about the world.

### Reading the HTML

Read the demographical data of the world countries from the file *world.html* into a `DataFrame` `df_world_demo`.

In [26]:
# Add your implementation here.
df_world_demo = pd.read_html("world.html")[0]

In [27]:
assert df_world_demo.shape == (233, 2)
total_points += task_points

### What are the three most populated countries?

This question is based on the demographic data.

In [28]:
# Add your implementation here.
df_world_demo.sort_values(by='Population', ascending=False).head(3)

                      Country  Population
43                      China  1433783686
96                      India  1366417754
221  United States of America   329064917

In [29]:
assert list(_.Country) == ["China", "India", "United States of America"]
total_points += task_points

### What is the least populated country?

This question is based on the demographic data.

In [30]:
# Add your implementation here.
df_world_demo.loc[df_world_demo.Population.idxmin()].Country

'Vatican City'

In [31]:
assert _ == "Vatican City"
total_points += task_points

### What countries have more than 200,000,000 people?

This question is based on the demographic data.

In [32]:
# Add your implementation here.
df_world_demo[df_world_demo["Population"] > 200000000]

                      Country  Population
27                     Brazil   211049527
43                      China  1433783686
96                      India  1366417754
97                  Indonesia   270625568
152                   Nigeria   200963599
159                  Pakistan   216565318
221  United States of America   329064917

In [33]:
assert list(_.Country) == ["Brazil",
                           "China",
                           "India",
                           "Indonesia",
                           "Nigeria",
                           "Pakistan",
                           "United States of America"]
total_points += task_points

### What countries have between 10,000 and 20,000 people? Order them by population, from largest to smallest.

This question is based on the demographic data.

In [34]:
# Add your implementation here.
df_world_demo[(10000 < df_world_demo["Population"]) & (df_world_demo["Population"] < 20000)].sort_values(by='Population', ascending=False)

               Country  Population
160              Palau       18008
47        Cook Islands       17548
6             Anguilla       14869
216             Tuvalu       11646
228  Wallis and Futuna       11432
145              Nauru       10756

In [35]:
assert list(_.Country) == ["Palau", "Cook Islands", "Anguilla", "Tuvalu", "Wallis and Futuna", "Nauru"]
total_points += task_points

## Task 4

Working with APIs.

Retrieve data as `JSON` from the specified API and answer the specific questions about the world.

### Retrieve data

Retrieve various data about the world countries from [REST Countries](https://restcountries.com/#api-endpoints-v3-name) into a `DataFrame` `df_world_misc`.

You should *flatten* or *normalize* the retrieved `JSON`.

In [36]:
# Add your implementation here.
df_world_misc = pd.json_normalize(requests.get("https://restcountries.com/v3.1/all").json())

In [37]:
assert df_world_misc.shape == (250, 892)
total_points += task_points

### What is the common name of the country with the most neighbors?

This question is based on the data retrieved from API.

In [38]:
# Add your implementation here.
df_world_misc.loc[df_world_misc["borders"].str.len().idxmax()]["name.common"]

'China'

In [39]:
assert _ == "China"
total_points += task_points

### What is the official name of the country with the most capitals?

This question is based on the data retrieved from API.

In [40]:
# Add your implementation here.
df_world_misc.loc[df_world_misc["capital"].str.len().idxmax()]["name.official"]

'Republic of South Africa'

In [41]:
assert _ == "Republic of South Africa"
total_points += task_points

### What 3 countries had the highest Gini index in 2019?

This question is based on the data retrieved from API.

In [42]:
# Add your implementation here.
df_world_misc.sort_values(by="gini.2019", ascending=False).head(3)

,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,capital,altSpellings,...,currencies.CDF.name,currencies.CDF.symbol,languages.lua,currencies.PEN.name,currencies.PEN.symbol,name.nativeName.nrf.official,name.nativeName.nrf.common,currencies.JEP.name,currencies.JEP.symbol,languages.nrf
237,[.br],BR,076,BRA,BRA,True,officially-assigned,True,[Brasília],"[BR, Brasil, Federative Republic of Brazil, Re...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,[.co],CO,170,COL,COL,True,officially-assigned,True,[Bogotá],"[CO, Republic of Colombia, República de Colombia]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,[.zw],ZW,716,ZWE,ZIM,True,officially-assigned,True,[Harare],"[ZW, Republic of Zimbabwe]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
assert list(_["name.common"]) == ["Brazil", "Colombia", "Zimbabwe"]
total_points += task_points

### What is the official name of the 2nd largest country with a single timezone?

This question is based on the data retrieved from API.

In [44]:
# Add your implementation here.
df_world_misc[df_world_misc["timezones"].str.len() == 1].sort_values('area', ascending=False).iloc[1]["name.official"]

'Republic of India'

In [45]:
assert _ == "Republic of India"
total_points += task_points

## Task 5

Assemble the data from all the sources into a single `DataFrame`.

### All together now!

Create a single `DataFrame` `df_world` with all the data and save it as *world.csv*.

This is an open-ended task without tests but some general requirements for the resultig `DataFrame`:

- number of rows in the resulting dataframe must be between 180 and 320
- there must be at least 12 columns with data from the provided files (*xlsx*, *sqlite3*, and *html*)
- numeric data must be stored as numbers
- *csv* file must be valid

In [46]:
# Add your implementation here.
df_world = pd.DataFrame(pd.concat([df_world_geo, df_world_regions, df_world_codes, df_world_gov], axis=1))
df_world.to_csv("world.csv", index=False)

In [47]:
df_world.shape

(261, 18)

In [48]:
print(f"Total points: {total_points}/80. 20 points are manually assigned.")

Total points: 80/80. 20 points are manually assigned.

## Submission Checklist

- [ ] Your name, today's date, and the assignment title in the designated cell.
- [ ] Your answers in the designated cells (if required).
- [ ] Your code runs and produces the expected output.
- [ ] The validity of your code is verified by autograders (if provided).
- [ ] Restart the kernel and run all cells (in the menubar, select *Kernel*, then *Restart Kernel and Run All Cells*).
- [ ] Save the notebook.
- [ ] Submit the assignment.