In [1]:
#Importing all necessary libraries for this project
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import copy
import json
import math
from collections import OrderedDict
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
#Reading and projecting the data
data=pd.read_csv("bike_data2019.csv")
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,18:00.1,26:25.9,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,36:33.3,49:10.3,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,43:38.6,09:54.5,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,43:39.6,09:46.5,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [3]:
#Data shape
data.shape

(404947, 15)

In [4]:
#Check for total missing values
print(data.isnull().sum())
print()
print('Total missing values: ', data.isnull().sum().sum())

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

Total missing values:  0

In [5]:
#Finding duplicate rows
dup_data=data[data.duplicated()]
print('There are ', dup_data.shape, 'duplicate rows')

There are  (0, 15) duplicate rows

In [6]:
#Every station information
data_info = pd.read_csv("station_info.csv")
data_info.head()

,start station id,start station name,start station latitude,start station longitude
0,116,W 17 St & 8 Ave,40.741776,-74.001497
1,127,Barrow St & Hudson St,40.731724,-74.006744
2,128,MacDougal St & Prince St,40.727103,-74.002971
3,146,Hudson St & Reade St,40.716250,-74.009106
4,195,Liberty St & Broadway,40.709056,-74.010434

In [7]:
from apyori import apriori

def apriori_find_association_rules(dataset, minsup, minconf):
    records = list(apriori(dataset, min_support=minsup, min_confidence=minconf))
    return records

def apriori_show_mining_results(records):
    ap = []
    for record in records:
        converted_record = record._replace(ordered_statistics=[x._asdict() for x in record.ordered_statistics])
        ap.append(converted_record._asdict())
    
    #print("Frequent Itemsets:\n------------------")
    #for ptn in ap:
    #    print('({})  support = {}'.format(", ".join(ptn["items"]), round(ptn["support"], 3)))
    #print()
    print("Rules:\n------")
    for ptn in ap:
        for rule in ptn["ordered_statistics"]:
            head = rule["items_base"]
            tail = rule["items_add"]
            if len(head) == 0 or len(tail) == 0:
                continue
            confidence = rule["confidence"]
            print('({}) ==> ({})  confidence = {}'.format(', '.join(head), ', '.join(tail), round(confidence, 3)))
    print()

In [8]:
import pyfpgrowth

def fp_find_association_rules(dataset, minsup, minconf):
    patterns = pyfpgrowth.find_frequent_patterns(dataset, minsup*len(dataset))
    rules = pyfpgrowth.generate_association_rules(patterns, minconf)
    return (patterns, rules)

def fp_show_mining_results(ap, N):
    (patterns, rules) = ap
    #print("Frequent Itemsets:\n------------------")
    #for key, val in patterns.items():
    #    print('{}  support = {}'.format(key, round(val/N, 3)))
    #print()
    print("Rules:\n------")
    for key, val in rules.items():
        head = key
        tail = val[0]
        confidence = val[1]
        if len(tail) == 0:
            continue
        print('({}) ==> ({})  confidence = {}'.format(', '.join(head), ', '.join(tail), round(confidence, 3)))
    print()

In [9]:
data['starttime'] = pd.to_datetime(data['starttime'], format='%Y-%m-%d %H:%M:%S')
data['stoptime'] =pd.to_datetime(data['stoptime'], format='%Y-%m-%d %H:%M:%S')
data.info()

ValueError: time data 09:09.7 doesn't match format specified

In [10]:
data.info

<bound method DataFrame.info of         tripduration starttime stoptime  start station id start station name  \
0                201   09:09.7  12:30.9              3183     Exchange Place
1                505   18:00.1  26:25.9              3183     Exchange Place
2                756   36:33.3  49:10.3              3183     Exchange Place
3               1575   43:38.6  09:54.5              3183     Exchange Place
4               1566   43:39.6  09:46.5              3183     Exchange Place
...              ...       ...      ...               ...                ...
404942           283   12:18.5  17:01.9              3195            Sip Ave
404943           267   19:03.6  23:30.7              3186      Grove St PATH
404944           379   19:06.6  25:25.8              3209       Brunswick St
404945           188   24:00.3  27:09.0              3639         Harborside
404946           326   45:21.0  50:47.7              3195            Sip Ave

        start station latitude  start station longitude  end station id  \
0                    40.716247               -74.033459            3214
1                    40.716247               -74.033459            3638
2                    40.716247               -74.033459            3192
3                    40.716247               -74.033459            3638
4                    40.716247               -74.033459            3638
...                        ...                      ...             ...
404942               40.730897               -74.063913            3679
404943               40.719586               -74.043117            3205
404944               40.724176               -74.050656            3185
404945               40.719252               -74.034234            3186
404946               40.730897               -74.063913            3280

          end station name  end station latitude  end station longitude  \
0         Essex Light Rail             40.712774             -74.036486
1            Washington St             40.724294             -74.035483
2       Liberty Light Rail             40.711242             -74.055701
3            Washington St             40.724294             -74.035483
4            Washington St             40.724294             -74.035483
...                    ...                   ...                    ...
404942          Bergen Ave             40.722104             -74.071455
404943   JC Medical Center             40.716540             -74.049638
404944           City Hall             40.717733             -74.043845
404945       Grove St PATH             40.719586             -74.043117
404946         Astor Place             40.719282             -74.071262

        bikeid    usertype  birth year  gender
0        29612  Subscriber        1993       1
1        29213  Subscriber        1972       2
2        26164  Subscriber        1985       1
3        29672    Customer        1969       0
4        29522    Customer        1969       0
...        ...         ...         ...     ...
404942   29245    Customer        1990       1
404943   26153  Subscriber        1989       1
404944   26276  Subscriber        1984       1
404945   29461  Subscriber        1987       1
404946   29123  Subscriber        1988       1

[404947 rows x 15 columns]>