# Hierarchical Indexing

In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series(np.random.uniform(size=9),
                 index=[["a", "a", "a", "b", "b", "c", "c", "d", "d"],
                       [1,2,3,1,3,1,2,2,3]
                       ])

In [4]:
data

a  1    0.787189
   2    0.073442
   3    0.484965
b  1    0.073492
   3    0.891013
c  1    0.459264
   2    0.012049
d  2    0.675943
   3    0.484248
dtype: float64

In [5]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [6]:
data["b"]

1    0.073492
3    0.891013
dtype: float64

In [7]:
data.loc[["b", "d"]]

b  1    0.073492
   3    0.891013
d  2    0.675943
   3    0.484248
dtype: float64

In [10]:
data[:, 3]

a    0.484965
b    0.891013
d    0.484248
dtype: float64

In [12]:
data.loc["b":"d"]

b  1    0.073492
   3    0.891013
c  1    0.459264
   2    0.012049
d  2    0.675943
   3    0.484248
dtype: float64

In [13]:
data.unstack()

          1         2         3
a  0.787189  0.073442  0.484965
b  0.073492       NaN  0.891013
c  0.459264  0.012049       NaN
d       NaN  0.675943  0.484248

In [14]:
data2 = pd.Series(np.random.uniform(size=9),
                 index=[["a", "a", "a", "b", "b", "c", "c", "d", "d"],
                       [1,2,3,1,3,1,2,2,3],
                        ["apple", "orange", "pear", "orange","apple", "orange", "pear", "orange","apple"]
                       ])

In [15]:
data2.unstack()

        apple    orange      pear
a 1  0.261470       NaN       NaN
  2       NaN  0.363704       NaN
  3       NaN       NaN  0.074921
b 1       NaN  0.803050       NaN
  3  0.418016       NaN       NaN
c 1       NaN  0.084382       NaN
  2       NaN       NaN  0.299966
d 2       NaN  0.587300       NaN
  3  0.788675       NaN       NaN

In [25]:
a = [("a", 1), ("a",2), ("b", 3)]
b = a.sort

In [26]:
b