In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("library.csv")

In [9]:
df.dtypes

isbn          int64
title        object
author       object
year        float64
price       float64
pages       float64
category     object
inStock      object
url         float64
dtype: object

In [10]:
#inpace is invasive
df.drop("url", axis=1, inplace=True)

In [11]:
#thresh value is the value of non NA values that a row has to not be dropped
df.dropna(thresh=6)

,isbn,title,author,year,price,pages,category,inStock
1,2016001384049,Hardware Fundamentals,Irene Tanenbaum,1990.0,50.0,800.0,Hardware,True
3,2558608394017,Database Principles,Charlie Miller,1998.0,NaN,335.0,Database,NaN
4,2497277650906,Diving into C++ Networks,Irene Ross,1997.0,NaN,450.0,Programming,True
6,2472646599443,Hacking C++ Fundamentals,Gerry Patterson,2013.0,200.0,300.0,Programming,NaN
7,9260839303777,Secure Systems,Charlie Tanenbaum,1997.0,NaN,NaN,Systems,False
8,3254672513036,Mastering Game Problems,Irene Silberschatz,NaN,120.0,333.0,Programming,NaN
9,1399709054430,Advanced Game Systems,Charlie Ross,2013.0,459.0,900.0,Systems,False

In [14]:
df

,isbn,title,author,year,price,pages,category,inStock
0,8197652522387,Computer Networks,Alice Silberschatz,NaN,45.79,NaN,Networking,NaN
1,2016001384049,Hardware Fundamentals,Irene Tanenbaum,1990.0,50.00,800.0,Hardware,True
2,8948219346420,Operating Systems,Jenny Lee,NaN,NaN,NaN,Systems,NaN
3,2558608394017,Database Principles,Charlie Miller,1998.0,NaN,335.0,Database,NaN
4,2497277650906,Diving into C++ Networks,Irene Ross,1997.0,NaN,450.0,Programming,True
5,5657226515874,Database Security,Alice Ross,NaN,135.99,NaN,Security,NaN
6,2472646599443,Hacking C++ Fundamentals,Gerry Patterson,2013.0,200.00,300.0,Programming,NaN
7,9260839303777,Secure Systems,Charlie Tanenbaum,1997.0,NaN,NaN,Systems,False
8,3254672513036,Mastering Game Problems,Irene Silberschatz,NaN,120.00,333.0,Programming,NaN
9,1399709054430,Advanced Game Systems,Charlie Ross,2013.0,459.00,900.0,Systems,False

In [20]:
df.pages = np.around(df.pages.fillna(df.pages.mean()),0)

In [10]:
df.price = np.around(df.price.fillna(df.price.mean()),0)

In [14]:
df.year.fillna(method ="ffill")

0       NaN
1    1990.0
2    1990.0
3    1998.0
4    1997.0
5    1997.0
6    2013.0
7    1997.0
8    1997.0
9    2013.0
Name: year, dtype: float64

In [15]:
df.isna().sum()

isbn        0
title       0
author      0
year        4
price       0
pages       0
category    0
inStock     6
dtype: int64

In [17]:
course = {"Networking": "CS430", "Hardware": "CS450", "Systems": "CS450", "Security": "CS460", "Programming": "CS150"}

In [19]:
df["Course"] = df.category.map(course)

In [21]:
df.replace("Database", "Database Management Systems")

,isbn,title,author,year,price,pages,category,inStock,Course
0,8197652522387,Computer Networks,Alice Silberschatz,NaN,46.0,520.0,Networking,NaN,CS430
1,2016001384049,Hardware Fundamentals,Irene Tanenbaum,1990.0,50.0,800.0,Hardware,True,CS450
2,8948219346420,Operating Systems,Jenny Lee,NaN,168.0,520.0,Systems,NaN,CS450
3,2558608394017,Database Principles,Charlie Miller,1998.0,168.0,335.0,Database Management Systems,NaN,NaN
4,2497277650906,Diving into C++ Networks,Irene Ross,1997.0,168.0,450.0,Programming,True,CS150
5,5657226515874,Database Security,Alice Ross,NaN,136.0,520.0,Security,NaN,CS460
6,2472646599443,Hacking C++ Fundamentals,Gerry Patterson,2013.0,200.0,300.0,Programming,NaN,CS150
7,9260839303777,Secure Systems,Charlie Tanenbaum,1997.0,168.0,520.0,Systems,False,CS450
8,3254672513036,Mastering Game Problems,Irene Silberschatz,NaN,120.0,333.0,Programming,NaN,CS150
9,1399709054430,Advanced Game Systems,Charlie Ross,2013.0,459.0,900.0,Systems,False,CS450

In [22]:
df.rename(lambda name: name.capitalize(), axis=1)

,Isbn,Title,Author,Year,Price,Pages,Category,Instock,Course
0,8197652522387,Computer Networks,Alice Silberschatz,NaN,46.0,520.0,Networking,NaN,CS430
1,2016001384049,Hardware Fundamentals,Irene Tanenbaum,1990.0,50.0,800.0,Hardware,True,CS450
2,8948219346420,Operating Systems,Jenny Lee,NaN,168.0,520.0,Systems,NaN,CS450
3,2558608394017,Database Principles,Charlie Miller,1998.0,168.0,335.0,Database,NaN,NaN
4,2497277650906,Diving into C++ Networks,Irene Ross,1997.0,168.0,450.0,Programming,True,CS150
5,5657226515874,Database Security,Alice Ross,NaN,136.0,520.0,Security,NaN,CS460
6,2472646599443,Hacking C++ Fundamentals,Gerry Patterson,2013.0,200.0,300.0,Programming,NaN,CS150
7,9260839303777,Secure Systems,Charlie Tanenbaum,1997.0,168.0,520.0,Systems,False,CS450
8,3254672513036,Mastering Game Problems,Irene Silberschatz,NaN,120.0,333.0,Programming,NaN,CS150
9,1399709054430,Advanced Game Systems,Charlie Ross,2013.0,459.0,900.0,Systems,False,CS450