# Read Data
## CSV

In [1]:
%config Completer.use_jedi = False

import pandas as pd
from pandas import DataFrame

In [2]:
df = pd.read_csv("note.csv")

In [3]:
df

   id                name  age               species   location
0   1               Chunk   34                Jaguar      Attic
1   2                Wind   99                  Newt   Basement
2   3  Underrated Thunder   74      Macaroni Penguin   Basement
3   4                 Axe   23        Long-Eared Owl     Garage
4   5        Wild Isotope   28      Humboldt Penguin      Attic
5   6          Night Star   26                  Newt     Garage
6   7        Random Bully   52             Armadillo  Back yard
7   8        Cunning Fury   38  Pink Fairy Armadillo  Back yard
8   9       Evening Chunk   50                  Newt   Basement
9  10             Thunder   38                Jaguar      Attic

In [4]:
df.dtypes

id           int64
name        object
age          int64
species     object
location    object
dtype: object

In [5]:
df.shape

(10, 5)

In [6]:
pd.read_csv("note.csv").head()

   id                name  age           species  location
0   1               Chunk   34            Jaguar     Attic
1   2                Wind   99              Newt  Basement
2   3  Underrated Thunder   74  Macaroni Penguin  Basement
3   4                 Axe   23    Long-Eared Owl    Garage
4   5        Wild Isotope   28  Humboldt Penguin     Attic

# SQL

In [16]:
import sqlite3
import sqlalchemy as sqla

In [8]:
#conn = sqlite3.connect(filename)

In [9]:
#pd.read_sql("select * from zoo;", conn)

In [14]:
#conn.close()

In [15]:
#with sqlite3.connect(filename) as conn:
    #df = pd.read_sql("select * from filename;", conn)

In [19]:
#db = sqla.create_engine("sqlite://zoo.sqlite3")

In [20]:
#conn = db.connect()

In [22]:
#zoo is a table not a file
#file can contains multiple tables
#pd.read_sql("zoo", conn)

# Work with API

In [23]:
import requests

In [24]:
url = "http://cat-fact.herokuapp.com/facts"

In [35]:
data = requests.get(url).json()

In [36]:
data

[{'status': {'verified': True, 'sentCount': 1},
  '_id': '58e008800aac31001185ed07',
  'user': '58e007480aac31001185ecef',
  'text': 'Wikipedia has a recording of a cat meowing, because why not?',
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'type': 'cat',
  'createdAt': '2018-03-06T21:20:03.505Z',
  'deleted': False,
  'used': False},
 {'status': {'verified': True, 'sentCount': 1},
  '_id': '58e008630aac31001185ed01',
  'user': '58e007480aac31001185ecef',
  'text': 'When cats grimace, they are usually "taste-scenting." They have an extra organ that, with some breathing control, allows the cats to taste-sense the air.',
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'type': 'cat',
  'createdAt': '2018-02-07T21:20:02.903Z',
  'deleted': False,
  'used': False},
 {'status': {'verified': True, 'sentCount': 1},
  '_id': '58e00a090aac31001185ed16',
  'user': '58e007480aac31001185ecef',
  'text': 'Cats make more than 100 different sounds whereas dogs make around 10.',
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'type': 'cat',
  'createdAt': '2018-02-11T21:20:03.745Z',
  'deleted': False,
  'used': False},
 {'status': {'verified': True, 'sentCount': 1},
  '_id': '58e009390aac31001185ed10',
  'user': '58e007480aac31001185ecef',
  'text': "Most cats are lactose intolerant, and milk can cause painful stomach cramps and diarrhea. It's best to forego the milk and just give your cat the standard: clean, cool drinking water.",
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'type': 'cat',
  'createdAt': '2018-03-04T21:20:02.979Z',
  'deleted': False,
  'used': False},
 {'status': {'verified': True, 'sentCount': 1},
  '_id': '58e008780aac31001185ed05',
  'user': '58e007480aac31001185ecef',
  'text': 'Owning a cat can reduce the risk of stroke and heart attack by a third.',
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'type': 'cat',
  'createdAt': '2018-03-29T20:20:03.844Z',
  'deleted': False,
  'used': False}]

In [37]:
df = pd.DataFrame(data)

In [38]:
df.head()

,status,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used
0,"{'verified': True, 'sentCount': 1}",58e008800aac31001185ed07,58e007480aac31001185ecef,"Wikipedia has a recording of a cat meowing, be...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-06T21:20:03.505Z,False,False
1,"{'verified': True, 'sentCount': 1}",58e008630aac31001185ed01,58e007480aac31001185ecef,"When cats grimace, they are usually ""taste-sce...",0,user,2020-08-23T20:20:01.611Z,cat,2018-02-07T21:20:02.903Z,False,False
2,"{'verified': True, 'sentCount': 1}",58e00a090aac31001185ed16,58e007480aac31001185ecef,Cats make more than 100 different sounds where...,0,user,2020-08-23T20:20:01.611Z,cat,2018-02-11T21:20:03.745Z,False,False
3,"{'verified': True, 'sentCount': 1}",58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False
4,"{'verified': True, 'sentCount': 1}",58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False

In [39]:
df = pd.json_normalize(data)

In [40]:
df

,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used,status.verified,status.sentCount
0,58e008800aac31001185ed07,58e007480aac31001185ecef,"Wikipedia has a recording of a cat meowing, be...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-06T21:20:03.505Z,False,False,True,1
1,58e008630aac31001185ed01,58e007480aac31001185ecef,"When cats grimace, they are usually ""taste-sce...",0,user,2020-08-23T20:20:01.611Z,cat,2018-02-07T21:20:02.903Z,False,False,True,1
2,58e00a090aac31001185ed16,58e007480aac31001185ecef,Cats make more than 100 different sounds where...,0,user,2020-08-23T20:20:01.611Z,cat,2018-02-11T21:20:03.745Z,False,False,True,1
3,58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False,True,1
4,58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False,True,1

In [41]:
df.text

0    Wikipedia has a recording of a cat meowing, be...
1    When cats grimace, they are usually "taste-sce...
2    Cats make more than 100 different sounds where...
3    Most cats are lactose intolerant, and milk can...
4    Owning a cat can reduce the risk of stroke and...
Name: text, dtype: object

# Saving File

In [45]:
df.to_csv("cat-fact.csv", index=False)

In [46]:
pd.read_csv("cat-fact.csv")

,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used,status.verified,status.sentCount
0,58e008800aac31001185ed07,58e007480aac31001185ecef,"Wikipedia has a recording of a cat meowing, be...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-06T21:20:03.505Z,False,False,True,1
1,58e008630aac31001185ed01,58e007480aac31001185ecef,"When cats grimace, they are usually ""taste-sce...",0,user,2020-08-23T20:20:01.611Z,cat,2018-02-07T21:20:02.903Z,False,False,True,1
2,58e00a090aac31001185ed16,58e007480aac31001185ecef,Cats make more than 100 different sounds where...,0,user,2020-08-23T20:20:01.611Z,cat,2018-02-11T21:20:03.745Z,False,False,True,1
3,58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False,True,1
4,58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False,True,1

In [47]:
df.to_html("cat-fact.html")